h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
}

p {
    text-align: justify;
}

#quote {
    text-align: center;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
}

.card {
    margin: auto;
}

.navbar {
    margin-bottom: 40px;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
}

/* Point 11.a. */
.col-sm-9 {
    background-image: url('images/image_9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Point 11.b. */
.background-image {
    color: white;
}

.bg-danger {
    margin-right: 60px;
    margin-left: 60px;
}

.col-md {
    margin-top: 30px;
    margin-bottom: 30px;
}

.alert {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.container {
    padding: 10px;
    text-align: center;
}

.bi-star-fill {
    font-size: 2rem;
    color: lightskyblue;
}

.bi-moon-stars-fill {
    font-size: 2rem;
    color: lightskyblue;
}

.bi-heart-fill {
    font-size: 2rem;
    color: lightcoral;
}

.bi-umbrella-fill {
    font-size: 2rem;
    color: lightcoral;
}

.bi-cloud-lightning-rain-fill {
    font-size: 2rem;
    color: lightgreen;
}

.bi-rocket-takeoff-fill {
    font-size: 2rem;
    color: lightgreen;
}

.spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.food_images {
    padding: 30px;
}