.images_food {
    width: 150px;
    margin-bottom: 40px;
    margin-top: 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
}

p {
    text-align: justify;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
}

.navbar {
    margin-bottom: 40px;
}

.card-text
{
    font-family: Arial, Helvetica, sans-serif;
}